*.txt
.DS_Store
.vscode
better_ffmpeg_progress.egg-info
build/
dist/
ffmpeg_output/
__pycache__
# Video Files
*.3gp
*.avi
*.flv
*.m4v
*.mkv
*.mp4
*.MTS
*.wmv
*.webm
# Audio Files
*.mp3
*.wav
*.w64
*.aac
*.m4a
*.flac
*.aiff
*.caf
*.ogg
*.opus